@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --yellow: #fee101;
  --white: #ffffff;
}

.banner {
  min-height: calc(100vh);
}
#banner {
  background-color: #000;
  background-image: url(/public/img/bg-banner.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 54.56px;
  text-align: left;
}
.sub-heading-bold {
  font-size: 38.58px;
  font-weight: 800;
  line-height: 42.19px;
  text-align: center;
}
.sub-heading {
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  text-align: left;
}
.sub-heading-small {
  font-size: 28.93px;
  font-weight: 600;
  line-height: 42.19px;
  text-align: center;
}
.form-heading {
  font-size: 20.9px;
  font-weight: 700;
  line-height: 18.58px;
  text-align: left;
}
.form-heading-light {
  font-size: 20.9px;
  font-weight: 700;
  line-height: 18.58px;
  text-align: left;
}
.p-small{
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.opt-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 18.58px;
  text-align: left;
}
.font-yellow {
  color: var(--yellow);
}
.container {
  max-width: 1064px !important;
}
span.input-group-text {
  background: transparent;
  border: none;
  background: transparent;
  border-bottom: solid 1px #fff;
  border-radius: 0;
}
input.form-control {
  border: none;
  background: transparent;
  border-bottom: solid 1px #fff;
  border-radius: 0;
  color: #ffffff;
  padding: 0;
}
input.form-control:hover,
input.form-control:focus,
input.form-control:visited {
  background: transparent !important;
  color: #ffffff;
  box-shadow: none;
}
input.form-control::placeholder {
  color: #ffffff34;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.28px;
  text-align: left;
}
button.btn-style {
  background: #fff;
  border: none;
  color: #000;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.28px;
  text-align: left;
  padding: 10px 130px;
}

button.btn-style-two.btn {
  background: #2d2d45;
  border: 0.58px solid #4d4d4d;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  gap: 9px;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
}
.box-w {
  width: 340px;
}
.g-20 {
  gap: 20px;
}
.g-10 {
  gap: 10px;
}
.otp-send input {
  width: 70px !important;
  height: 70px !important;
  background: #2d2d45;
  border-radius: 12px;
  box-shadow: none !important;
  color: #fff;
  font-size: 30px;
}
.otp-send div {
  gap: 12px;
}
.exp {
  margin-right: -66px;
}
a.hover-none {
  text-decoration: none;
}
@media (min-width: 767px) {
  .d-flex.align-items-center {
    position: absolute;
    top: 40px;
  }
  .last {
    position: absolute;
    bottom: 100px;
  }
}

@media (max-width: 1220px) {
  .exp {
    margin-right: 0px;
  }
  .otp-send input {
    width: 60px !important;
    height: 60px !important;
    background: #2d2d45;
    border-radius: 12px;
    box-shadow: none !important;
    color: #fff;
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .bonus-img {
    margin: auto;
    width: 100% !important;
    height: auto !important;
  }
  .full-w {
    width: 100% !important;
    margin: auto;
  }
  img.logo {
    width: 50px;
  }
  .otp-send span {
    display: none;
  }
  .otp-send div {
    gap: 10px;
    justify-content: space-between;
  }
  .main-heading {
    font-size: 30px;
  }
  button.btn-style {
    padding: 10px 50px;
    width: 100% !important;
    text-align: center;
}
}
@media (max-width: 420px) {
  .otp-send input {
    width: 45px !important;
    height: 45px !important;
  }
}
